@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

html {
	scroll-behavior: smooth !important;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

body,
html {
	height: 100%;
}

h1,
h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	transition: 0.3s;
}

h3,
h4 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	transition: 0.2s;
}

h5 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

html {
	font-size: 100%;
}

/* 16px */

h1 {
	font-size: 4.21rem;
	/* 67.36px */
}

h2 {
	font-size: 3.158rem;
	/* 50.56px */
}

h3 {
	font-size: 2.369rem;
	/* 37.92px */
}

h4 {
	font-size: 1.777rem;
	/* 28.48px */
}

h5 {
	font-size: 1.333rem;
	/* 21.28px */
}

small {
	font-size: 0.75rem;
	/* 12px */
}

body {
	--text: #f0f0f0;
	--text-second: #aaaaaa;
	--text-third: #555555;
	--background: #131614;
	--primary: #abc4b7;
	--secondary: #427058;
	--accent: #53ac7e;
	--border: rgba(240, 240, 240, 0.2);
	--darkerbg: rgba(0, 0, 0, 0.8);
	--opacity: 0.9;
	--divider: rgba(170, 170, 170, 0.2);
	--skillbg: #f0f0f0;
}

@media only screen and (min-width: 1500px) {
	.circle {
		height: 20vh;
		width: 20vh;
	}

	.skill-title h4 {
		font-size: 1.8rem;
	}

	.skill-title h5 {
		font-size: 1.35rem;
	}

	.skill-item {
		width: 14vh;
		height: 14vh;
	}
}

@media only screen and (max-width: 1499px) {
	.circle {
		height: 15.5vh;
		width: 15.5vh;
	}

	.skill-title h4 {
		font-size: 1.2rem;
	}

	.skill-title h5 {
		font-size: 0.9rem;
	}

	.skill-item {
		width: 10vh;
		height: 10vh;
	}
}

@media only screen and (max-width: 1000px) {
	.circle {
		height: 11vh;
		width: 11vh;
	}

	.skill-title h4 {
		font-size: 0.8rem;
	}

	.skill-title h5 {
		font-size: 0.6rem;
	}

	.skill-item {
		width: 7.333vh;
		height: 7.333vh;
	}
}

@media only screen and (max-width: 700px) {
	.circle {
		height: 6vh;
		width: 6vh;
	}

	.skill-title h4 {
		font-size: 0.533rem;
	}

	.skill-title h5 {
		font-size: 0.4rem;
	}

	.skill-item {
		width: 4.555vh;
		height: 4.555vh;
	}
}

@media only screen and (max-width: 580px) {
	.circle {
		height: 4vh;
		width: 4vh;
	}

	.skill-title h4 {
		font-size: 0.4rem;
	}

	.skill-title h5 {
		font-size: 0.25rem;
	}

	.skill-item {
		width: 3vh;
		height: 3vh;
	}
}

@media only screen and (min-width: 881px) {
	#nav-projects,
	#nav-skills,
	#nav-experience,
	#nav-contact,
	.hero-cfd,
	.hero-third {
		display: visible;
	}

	.hero-hi {
		color: var(--accent);
	}

	.nav-bar {
		width: 350px;
		left: 50%;
	}
}

@media only screen and (max-width: 880px) {
	.hero-hi {
		color: var(--accent);
	}

	.nav-bar {
		width: 350px;
		left: 50%;
	}
}

@media only screen and (max-width: 580px) {
	.nav-bar {
		width: 350px;
		left: 50%;
	}
}

@media only screen and (max-width: 420px) {
	.nav-bar {
		width: 200px;
		left: 50%;
	}

	#nav-experience {
		display: none;
	}

	.hero-second,
	.hero-third {
		display: none;
	}
}

body {
	background-color: var(--background);
	color: var(--text);

	svg {
		fill: var(--text);
	}
}

.cursor {
	width: 20px;
	height: 20px;
	background-color: var(--accent);
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 500;
	pointer-events: none;
}

.logo {
	position: absolute;
	top: 2vw;
	left: 2vw;
	cursor: pointer;
}

.logo #inner-circle {
	top: 11.5%;
	left: 1.5%;
	height: 75%;
	position: absolute;
	fill: var(--accent);
}

.logo #outer-circle {
	top: 1.5%;
	left: 1.5%;
	position: absolute;
	fill: var(--darkerbg);
	z-index: -1;
}

#logo-text {
	fill: var(--accent);
	transform-origin: 50% 50%;
	animation: rotate 10s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#topSocials {
	display: inline-flex;
	position: absolute;
	top: 4vw;
	right: 4vw;
	width: 200px;
	height: 60px;
	overflow: hidden;
}

.topSocialsItem {
	display: flex;
	background-color: var(--darkerbg);
	border-radius: 50%;
	position: static;
	width: 40px;
	height: 40px;
	margin-block: auto;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.topSocialsItem:hover {
	background-color: var(--accent);
}

#toast-section {
	display: flex;
	width: 100%;
	justify-content: center;
}

#toast {
	bottom: 2%;
	height: min-content;
	width: max-content;
	background-color: var(--darkerbg);
	backdrop-filter: blur(8px);
	color: var(--text);
	position: fixed;
	border-radius: 10vh;
	border: 1px solid var(--border);
	padding: 15px;
	display: flex;
	margin-inline: auto;
	text-align: center;
	overflow: hidden;
	z-index: 998;
	opacity: 1;
}

#toast.show {
	visibility: visible;
	animation: toast 4s;
}

.toast-text {
	margin: auto;
	font-size: 0.75rem;
}

@keyframes toast {
	0% {
		bottom: 2%;
		opacity: 0;
	}
	10% {
		bottom: 9%;
		opacity: 1;
	}
	90% {
		bottom: 9%;
		opacity: 1;
	}
	100% {
		bottom: 2%;
		opacity: 0;
	}
}

.nav-bar {
	background-color: var(--darkerbg);
	backdrop-filter: blur(8px);
	color: var(--text);
	position: fixed;
	bottom: 1.5%;
	border-radius: 2vh;
	border: 1px solid var(--border);
	padding: 10px;
	transform: translateX(-50%);
	transition: transform 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	height: 40px;
	overflow: hidden;
	z-index: 999;
}

.nav-bar a {
	background-color: transparent;
	color: var(--text);
	border: none;
	border-radius: 2vh;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	font-size: 1rem;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#nav-projects {
	padding-inline: 4%;
}

#nav-skills {
	padding-inline: 1%;
}

#nav-experience {
	padding-inline: 7%;
}

#nav-contact {
	padding-inline: 4%;
}

.nav-btn {
	position: relative;
	top: 1px;
}

.nav-transition {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 500ms;
	background-color: rgba(16, 185, 129, 0.6);
	border-radius: 9999px;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.nav-bar a:hover .nav-transition {
	width: 14em;
	height: 14em;
}

.nav-bar a:active {
	transform: scale(0.97);
}

#hero-section {
	background: radial-gradient(rgba(11, 14, 12, 1), var(--background));
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	overflow: hidden;
	z-index: -10;
	position: sticky;
	top: 0;
	perspective: 10px;
}

#hero-center {
	display: block;
	line-height: 1.2;
	text-align: center;
	position: absolute;
}

.hero-first,
.hero-second,
.hero-third {
	font-size: 7rem;
}

.hero-kainoa {
	-webkit-text-stroke: 4px var(--text);
	color: transparent;
}

.hero-second {
	background: -webkit-linear-gradient(var(--primary), var(--secondary));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#hero-third-wrapper {
	display: flex;
	margin-top: -75px;
	height: 9rem;
	justify-content: center;
	overflow: hidden;
}

.hero-third {
	position: relative;
	animation: slide 5s infinite;
	transform: translateY(-9rem);
}

@keyframes slide {
	0% {
		transform: translateY(-9rem);
	}
	35% {
		transform: translateY(0rem);
	}
	50% {
		transform: translateY(0rem);
	}
	85% {
		transform: translateY(-9rem);
	}
}

#particles-js {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -10;
}

.hero-noise {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: -80;
	box-sizing: border-box;
	background-clip: border-box;
	background-image: url(https://yasingenc.net/noise.png);
	background-repeat: repeat;
	background-size: auto;
	display: flex;
}

#skills-section {
	display: block;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

.bg {
	position: absolute;
	top: 100vh;
	width: 100%;
	height: 280vh;
	background-color: var(--background);
	z-index: -5;
}

.circle {
	background-image: linear-gradient(
		to top left,
		var(--secondary),
		var(--accent),
		var(--primary)
	);
	filter: drop-shadow(0 0 80px var(--accent));
	overflow: hidden;
	border-radius: 100vh 100vh 50% 50%;
	margin: auto;
}

#clickme-wrapper {
	position: absolute;
	display: flex;
	transform: translate(3vw, -12vw);
}

#clickme-svg {
	display: flex;
	width: 15vw;
	rotate: -50deg;
	transform: scaleX(-1);
	fill: var(--primary);
}

#clickme-text {
	position: absolute;
	rotate: -45deg;
	text-align: center;
	line-height: 2.5rem;
	transform: translate(23vw, -4vw);
	color: var(--primary);
}

.skill-list {
	display: flex;
	height: 100%;
	width: 50%;
	margin: auto;
	padding: 4%;
	align-items: center;
}

.skill-item {
	cursor: pointer;
	background-color: var(--skillbg);
	border-radius: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.skill-item:nth-child(1) {
	transform: translate(80%, 190%) rotate(-90deg);
}

.skill-item:nth-child(2) {
	transform: translateY(60%) rotate(-45deg);
}

.skill-item:nth-child(3) {
	transform: translateX(1%);
}

.skill-item:nth-child(4) {
	transform: translateY(60%) rotate(45deg);
}

.skill-item:nth-child(5) {
	transform: translate(-80%, 190%) rotate(90deg);
}

.skill-item.active {
	border-style: solid;
	border-color: var(--accent);
	border-width: 5px;
	box-sizing: border-box;
}

.skill-title {
	display: none;
	text-align: center;
	padding: 1%;
}

.skill-text {
	display: none;
	text-align: center;
	padding: 4%;
	padding-inline: 35%;
}

.skill-title.active {
	display: block;
}

.skill-text.active {
	display: block;
}

.hero-blob {
	background-color: white;
	height: 34vmax;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	filter: blur(100px);
	opacity: var(--opacity);
}

.hero-blob#left {
	transform: translate(-210%, -100%);
	z-index: -99;
	background: linear-gradient(
		rgb(127, 255, 212, 0.4),
		rgba(147, 112, 216, 0.5)
	);
}

.hero-blob#right {
	transform: translate(100%, -170%);
	z-index: -99;
	background: linear-gradient(rgb(0, 0, 0), rgba(147, 112, 216, 0.8));
}

.hero-blob#bottom {
	transform: translate(-120%, 30%);
	z-index: -99;
	background: linear-gradient(rgb(61, 61, 61), rgba(5, 20, 153, 0.4));
}

.main-blob {
	overflow-y: visible;
	background-color: white;
	height: 40vmax;
	aspect-ratio: 1;
	position: absolute;
	border-radius: 50%;
	background: linear-gradient(
		rgb(127, 255, 212, 0.4),
		rgba(147, 112, 216, 0.5)
	);
	filter: blur(100px);
	z-index: -2;
	opacity: var(--opacity);
}

.main-noise {
	position: absolute;
	top: 100vh;
	height: 280vh;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: -1;
	box-sizing: border-box;
	background-clip: border-box;
	background-image: url(https://yasingenc.net/noise.png);
	background-repeat: repeat;
	background-size: auto;
	display: flex;
}

.skills-blur {
	display: flex;
}

#marquee-section {
	text-transform: lowercase;
	text-align: center;
	align-items: center;
	white-space: nowrap;
	height: 20vh;
	font-size: 14vh;
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--border);
	padding-top: 5%;
	display: inline-flex;
	animation: moving 20s linear infinite;
}

@keyframes moving {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

#experience-section {
	overflow: hidden;
	padding-top: 20%;
	padding: 4%;
}

.experience-list {
	list-style-type: none;
	margin: 0;
	padding-inline: 0;
	padding-block: 3vh;
}

.experience-item {
	align-items: center;
}

.experience-item hr {
	border-color: var(--divider);
}

.experience-item p {
	cursor: pointer;
	color: var(--text-second);
}

.eititle {
	font-size: 2.369rem;
	font-weight: 600;
}

.eidate {
	font-size: 1.333rem;
	right: 4%;
	position: absolute;
	opacity: 0.6;
	transform: translateY(50%);
}

.eiplace {
	font-size: 1.333rem;
	opacity: 0.6;
}

.experience-item p:hover {
	.eititle,
	.eiplace,
	.eidate {
		color: var(--text);
	}
}

@media only screen and (max-width: 850px) {
	.eidate {
		transform: translateY(180%);
	}
}

@media only screen and (max-width: 550px) {
	.experience-item p {
		margin-bottom: 15%;
	}

	.eidate {
		transform: translateY(300%);
	}
}

@media only screen and (max-width: 345px) {
	.eidate {
		display: none;
	}
}

#outro-wrapper {
	display: flex;
	flex-wrap: nowrap;
	padding: 4%;
	gap: 2%;
	background-color: var(--background);
}

#contact-section {
	overflow: hidden;
	padding-top: 20%;
	padding: 4%;
	width: 600px;
	margin-right: 5%;
}

#contact-section h5 {
	color: var(--text-second);
	cursor: pointer;
}

#contact-section h5:hover {
	color: var(--accent);
	text-decoration: underline;
}

#bottomSocials {
	display: inline-flex;
	position: absolute;
	width: 200px;
	height: 60px;
	overflow: hidden;
}

.bottomSocialsItem {
	display: flex;
	border-radius: 50%;
	position: static;
	width: 40px;
	height: 40px;
	margin-block: auto;
	margin-inline: auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.bottomSocialsItem:hover {
	background-color: var(--accent);
}

#end-link-section {
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
}

.end-link {
	display: block;
	padding: 2%;
	width: 200px;
	cursor: pointer;
	text-decoration: none;
	color: var(--text);
	margin: 0;
}

.end-link p {
	color: var(--text-second);
}

.end-link:hover {
	h5 {
		color: var(--accent);
	}
}

footer {
	overflow: hidden;
	padding-block: 6%;
	text-align: center;
	color: var(--text-second);
	background-color: var(--background);
}

.footer-link {
	text-decoration: none;
	color: var(--text-second);
}

.footer-link:hover {
	text-decoration: underline;
	color: var(--accent);
}

footer .quote {
	color: var(--secondary);
	margin-top: 3%;
	cursor: pointer;
	visibility: hidden;
	transform: translateX(3.35%);
}

footer .quote-inner {
	visibility: visible;
}

footer .quote:hover {
	visibility: visible;
	.quote-inner {
		color: var(--accent);
	}
}
